.home-page {
  text-align: center;
  padding-top: 50px;
}

.intro-text {
  padding: 20px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6); /* Fondo oscuro para el texto */
  position: absolute; /* Se asegura de estar por encima de la animación */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centrar el texto */
  z-index: 2;
  font-family: 'Arial', sans-serif;
}

.photo-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.photo-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra para el texto */
  padding: 20px;
  height: 100%;
  width: 100%;
}
